;; end spec https://github.com/end-format/end
;; Goku tutorial https://github.com/yqrashawn/GokuRakuJoudo/blob/master/tutorial.md
; https://github.com/yqrashawn/GokuRakuJoudo/blob/master/examples.org
;; Overwrite the default karabiner element profile or using :profile config

    ;; !  | means mandatory
    ;; #  | means optional
    ;; C  | left_command
    ;; T  | left_control
    ;; O  | left_option
    ;; S  | left_shift
    ;; F  | fn
    ;; Q  | right_command
    ;; W  | right_control
    ;; E  | right_option
    ;; R  | right_shift
    ;; P  | caps_lock
    ;; !! | mandatory command + control + optional + shift (hyper)
    ;; ## | optional any

{:profiles {:default {:default true
                      :sim     300
                      :delay   1000
                      :alone   500
                      :held    500}}

 :devices   {:usb-kb [{:vendor_id 1241 :product_id 17733}] :bt-kb [{:vendor_id 2652 :product_id 34050}]}
 :layers    {}
 :applications {
                :chrome ["com.google.Chrome"]
                :firefox ["firefox"]
                :emacs ["org.gnu.Emacs"]
                :alacritty ["^org\\.alacritty$"]
                :wezterm ["wezterm"]
                }
 :templates {}
 :main [
        {:des "Swap CMD and OPT for USB Keyboard" 
         :rules[:usb-kb
                 ;; Physical Windows key (left_command) becomes option, retaining your option's alone rule
                 [:##left_command :left_option nil {:alone :!O9}]
                 ;; Physical Alt key (left_option) becomes command, retaining your command's alone rule
                 [:##left_option :left_command nil {:alone :!O0}]
                 
                 ;; (Optional) Swap the right side too
                 [:##right_command :right_option][:##right_option :right_command]]}

        {:des "Swap CMD and OPT for BT Keyboard" 
         :rules[:bt-kb
                 ;; Physical Windows key (left_command) becomes option, retaining your option's alone rule
                 [:##left_command :left_option nil {:alone :!O9}]
                 ;; Physical Alt key (left_option) becomes command, retaining your command's alone rule
                 [:##left_option :left_command nil {:alone :!O0}]
                 
                 ;; (Optional) Swap the right side too
                 [:##right_command :right_option][:##right_option :right_command]]}

        {:des "command" :rules [[:##left_command :left_command nil {:alone :!O0}]] }
        ; {:des "cmd+tab / cmd+shift+tab -> alt-tab" :rules [[:!Ctab :!Otab] [:!Cleft_shift :!Oleft_shift]]}
        {:des "option" :rules [[:##left_option :left_option nil {:alone :!O9}]] }
        {:des "alacritty" :rules [:alacritty
                                  [:!Tspacebar :f5]
                                  [:!Ccomma :f6]
                                  [:!Cperiod :f7]
                                  [:right_command :!Tnon_us_pound]
                                  [:!CSh :f9]
                                  [:!CSl :f8]
                                  [:!Ttab :f10]
                                  [:!Tgrave_accent_and_tilde :f11]
                                  [:!Cslash :f12]
                                  [:!Cs [:escape :spacebar :f :s]] ; nvim save
                                  ] }
        {:des "caps_lock" :rules [[:##caps_lock :left_control nil {:alone :escape}]] }
        {:des "control to hyper" :rules [[:##left_control :!QWEleft_control nil {:alone :!O9}]]}

        ; {:des "control to hyper" :rules [[:##left_control :left_control nil {:alone :!O9}]]}
        {:des "firefox" :rules [:firefox
                               ; [:!Tleft_shift :!Tleft_shift nil {:alone :!TStab}]
                               ]}
        {:des "chrome" :rules [:chrome
                               ; [:!Tleft_shift :!Tleft_shift nil {:alone :!TStab}]
                               ; [:!Tright_shift :!Tright_shift nil {:alone :!TStab}]
                               [:!Tn :down_arrow]
                               [:!Tp :up_arrow]
                               [:!Tgrave_accent_and_tilde :!CSa]]}
        {:des "SS_to_caps_lock" :rules [[:!S#Pright_shift :caps_lock] [:!R#Pleft_shift :caps_lock]]}
        {:des "command + backspace" :rules
         [
          [:!CS##delete_or_backspace :!F##delete_or_backspace]
          ]}

        {:des "hyper 1 to cleanup personal folder"
             :rules [[:!QWE1 "rm -r ~/personal && mkdir ~/personal"]]}

        {:des "command + utils" :rules
         [
          [:!C##h :left_arrow]
          [:!C##j :down_arrow]
          [:!C##k :up_arrow]
          [:!C##l :right_arrow]
          [:!Ci :!O8] ; change input method
          [:!Tleft_shift :!Tleft_shift nil {:alone :!TStab}]   ; shortcuts for pressing command+shift-tab
          [:!Cleft_shift :!Cleft_shift nil {:alone :!CStab}]   ;
          [:!Tright_shift :!Tright_shift nil {:alone :!TStab}] ;
          [:!Cright_shift :!Cright_shift nil {:alone :!CStab}] ;
          ; [:left_shift :left_shift nil {:alone :!Stab}]   ; shortcuts for pressing command+shift-tab
          ]}

        ; {:des "left ctrl to hyper" :rules [:##left_control :!CTleft_option nil {:alone :!O9}] }
        ]
 }
